/*content*/
.content-testcase{
  border: 1px solid lightgray;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 12px;
}
.content-operation{
  margin-top: 1rem;
  padding: 0 1rem;
}
.content-operation .input-group{
  justify-content: center;
}
.content-operation .form-control{
  max-width: 50px;
}
